################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/TestConsole/bin/
/TestConsole/obj
/ZWaveDotNet/bin/
/ZWaveDotNet/obj
/UnitTests/bin/Debug/net6.0
/UnitTests/obj
/UnitTests/bin/Release/net6.0
